<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.cte.plugin.speech" version="0.2.3">
    <name>Continuous Speech Recognizer</name>
    <description>Cordova Device Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device</keywords>

    <js-module src="www/js/ContinuousSpeechRecognizer.js" name="device">
        <clobbers target="ContinuousSpeechRecognizer" />
    </js-module>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="ContinuousSpeechRecognizer">
                <param name="android-package" value="com.cte.plugin.speech.ContinuousSpeechRecognizer"/>
            </feature>
        </config-file>
        <source-file src="ContinuousSpeechRecognizer.java" target-dir="src/com/cte/plugin/speech" />
    </platform>
</plugin>
